<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '200px'}">

      <mat-toolbar color="primary">
          <span>Menu</span>
          <button mat-icon-button
                  (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>

      <mat-nav-list>
        <mat-list-item *ngFor="let item of sidebarItems"
            [routerLink]="item.url"
            (click)="sidenav.toggle()">
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              {{ item.label }}
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
      <div>
          <button mat-icon-button
              (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
      </div>

  </mat-toolbar>

  <div class="container">
      <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
